/* 
    Created on : 07-27-2014, 06:10:41 PM
    Author     : Erasmo
*/
.form-control {
    height: 12mm;
    font-size: 16pt;
}
.two-columns-item {
    float: left;
    width: 50%;
}
.two-columns-first {
    padding-right: 1mm;
}
.two-columns-second {
    padding-left: 1mm;
}